<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWuTt91nw1ckIvfDJGMJ8DDeNP0LEZ3fc</string>
	<key>GCM_SENDER_ID</key>
	<string>730216592722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vietnh.moneyTracker</string>
	<key>PROJECT_ID</key>
	<string>money-tracker-1d92c</string>
	<key>STORAGE_BUCKET</key>
	<string>money-tracker-1d92c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730216592722:ios:97d93bb56ca08f7241b68b</string>
</dict>
</plist>